{{define "codeexamples"}}
{{template "header"}}
{{template "subbarhowto"}}

<br>
<h2>Examples</h2>

<h3>frost v1 code examples</h3>

<ul>
  <li><a href="#ex1">Example 1: Perform a basic API request </a></li>
  <li><a href="#ex2">Example 2: Perform an API request, check and print the response </a></li>
  <li><a href="#ex4">Example 4: Perform an API request asking for information on all meteorological stations situated inside a polygon (e.g. a box or a triangle) defined by geographical points (latitude and longitude)</a></li>
  <li><a href="#ex5">Example 5: Perform an API request (using stationids), restructure the response into an R or python DataFrame </a></li>
</ul>

<h3>havvarsel-frost code examples</h3>
<p>
  For those coming here from havvarsel-frost:
</p>
<ul>
  <li><a href="#exh1">Example 1: Perform an API request, check and print the response </a></li>
</ul>



<div class="zig-zag"></div>

<h3>frost v1 code examples</h3>

<a name="ex1"><h3>Example 1</h3></a>
Perform a basic API request
<br>

<div id="code-examples">

  <div class="tab">
    <input type="radio" id="home" name="grp" checked>
    <label for="home">Python</label>

    <div class="content">
      <embed src="/static/examples/python_example1.txt" width="100%" height="100%">
    </div>
  </div>

  <div class="tab">
    <input type="radio" id="portfolio" name="grp">
    <label for="portfolio">Javascript</label>

    <div class="content">
      <embed src="/static/examples/javascript_example1.txt" width="100%" height="100%">
    </div>
  </div>

  <div class="tab">
    <input type="radio" id="clients" name="grp">
    <label for="clients">Golang</label>

    <div class="content">
      <embed src="/static/examples/golang_example1.txt" width="100%" height="100%">
    </div>
  </div>
</div>

<div style="height:320px; width:100%; clear:both;"></div>

<br>
<a name="ex2"><h3>Example 2</h3></a>
Perform an API request, check and print the response
<br>

<div id="code-examples">

  <div class="tab">
    <input type="radio" id="home2" name="grp2" checked>
    <label for="home2">Python</label>

    <div class="content">
      <embed src="/static/examples/python_example2.txt" width="100%" height="100%">
    </div>
  </div>
  <div class="tab">
    <input type="radio" id="portfolio2" name="grp2">
    <label for="portfolio2">R</label>

    <div class="content">
      <embed src="/static/examples/r_example2.txt" width="100%" height="100%">
    </div>
  </div>

</div>

<div style="height:320px; width:100%; clear:both;"></div>


<div style="height:320px; width:100%; clear:both;"></div>


<br>
<a name="ex4"><h3>Example 4</h3></a>
Perform an API request asking for information on all meteorological stations situated inside a polygon (e.g. a box or a triangle)
defined by geographical points (latitude and longitude)
<br>

<div id="code-examples">

  <div class="tab">
    <input type="radio" id="home4" name="grp4" checked>
    <label for="home4">Python</label>

    <div class="content">
      <embed src="/static/examples/python_example4.txt" width="100%" height="100%">
    </div>
  </div>

  <div class="tab">
    <input type="radio" id="portfolio4" name="grp4">
    <label for="portfolio4">R</label>

    <div class="content">
      <embed src="/static/examples/r_example4.txt" width="100%" height="100%">
    </div>
  </div>
</div>

<div style="height:320px; width:100%; clear:both;"></div>


<br>
<a name="ex5"><h3>Example 5</h3></a>
Perform an API request (using stationids), restructure the response into an R or python DataFrame
<br>

<div id="code-examples">

  <div class="tab">
    <input type="radio" id="home5" name="grp5" checked>
    <label for="home5">Python</label>

    <div class="content">
      <embed src="/static/examples/python_example5.txt" width="100%" height="100%">
    </div>
  </div>

  <div class="tab">
    <input type="radio" id="portfolio5" name="grp5">
    <label for="portfolio5">R</label>

    <div class="content">
      <embed src="/static/examples/r_example5.txt" width="100%" height="100%">
    </div>
  </div>
</div>

<div style="height:320px; width:100%; clear:both;"></div>



<div class="zig-zag"></div>

<h3>havvarsel-frost code examples</h3>
<p>
  For those coming here from havvarsel-frost:
</p>


<a name="exh1"><h3>Example 1</h3></a>
Perform a basic API request
<br>

<div id="code-examples">

  <div class="tab">
    <input type="radio" id="homeh1" name="grph1" checked>
    <label for="homeh1">Python</label>
    <div class="content">
      <embed src="/static/examples/python_example_havvarsel1.txt" width="100%" height="100%">
    </div>
  </div>

  <div class="tab">
    <input type="radio" id="portfolioh1" name="grph1">
    <label for="portfolioh1">R</label>
    <div class="content">
      <embed src="/static/examples/r_example_havvarsel1.txt" width="100%" height="100%">
    </div>
  </div>

</div>

<div style="height:320px; width:100%; clear:both;"></div>


<br><br>

{{template "footer"}}
{{end}}
